body {
    background-color: #ffffff;
    color: #000000;
  }
  
   /* Default (for desktop) */
.responsive-button {
  background-color: #F4f4f4;
  color: #5d5d5d;
  font-size: 1.5vw; /* Suitable for larger screens */
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  padding: 1.5vh 4vw;
  border-radius: 5vw;
  border: none;
  cursor: pointer;
  max-width: 80vw;
  min-width: 150px;
}

/* Mobile adjustment */
@media (max-width: 767px) {
  .responsive-button {
    font-size: 4vw; /* Larger font size for mobile readability */
    padding: 2vh 9vw; /* Increased padding for a larger button */
  }
}
