/* App.css */

/* Fixed overlay to lock screen size */


/* App layout container within overlay */
.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}

/* Logo styling */
.logo {
    width: 50vh;
    height: auto;
    margin-bottom: 2vh;
}

